Scene:
<ul>
	<li>Choices:
		<ul>				
			<li ng-repeat="choice in $ctrl.scene.choices">
				<span>
					<button ng-click="$ctrl.removeChoice(choice)">Remove</button>				
					<ul>
						<li>
							Action: 
							<validated-text-input ng-model="choice.action" ng-minlength="3" ng-required="true"/>
						</li>
						<li>
							Feedback: 
							<validated-text-input ng-model="choice.feedback" ng-minlength="10" ng-required="true"/>
						</li>
						<li>
							<story-characters-editor characters="choice.characters"></story-characters-editor>
						</li>
						<!-- IF -->
						<li ng-if="choice.scene == null" class="storyBranchEnd"> 
							End of story branch
							<button ng-click="$ctrl.addChoiceScene(choice)">Add Scene</button>
						</li>
						<!-- ELSE -->	
						<li ng-if="choice.scene != null" > 
							<span>
								<button ng-click="$ctrl.removeChoiceScene(choice)">Remove</button>
								<story-scene-editor scene="choice.scene"></story-scene-editor>
							</span>
						</li>
					</ul>
				</span>					
			</li>
			<li>
				<button ng-click="$ctrl.addChoice()">Add Choice</button>
			</li>
		</ul>
	</li>
</ul>