<div>
    <label style="font-size: 20px"><b>{{$ctrl.metadata.title}}</b> ({{$ctrl.metadata.region}}, {{$ctrl.metadata.language}})</label>
    <div>
        <label><b>Status: </b></label>
        <label ng-if="$ctrl.metadata.submitted">Awaiting Validation</label>
        <label ng-if="!$ctrl.metadata.submitted && !$ctrl.metadata.isValid">Ready For Upload</label>
        <label ng-if="!$ctrl.metadata.submitted && $ctrl.metadata.isValid && $ctrl.metadata.enabled">Approved (In Game)</label>
        <label ng-if="!$ctrl.metadata.submitted && $ctrl.metadata.isValid && !$ctrl.metadata.enabled">Approved (Inactive)</label>
    </div>
    <div>
        <label ng-if="$ctrl.metadata.comment != '' && !$ctrl.metadata.submitted"><b>Feedback: </b>{{$ctrl.metadata.comment}}</label>                                            
    </div>
</div>