<div ng-form="storyTreeForm" novalidate>
	<md-card>
		<md-card-title>Summary</md-card-title>
		<md-card-content>
			<story-metadata-editor metadata="$ctrl.story.metadata"></story-metadata-editor>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-title>Story Characters</md-card-title>
		
		<md-card-content>
			<story-character-selection-editor selected-characters="$ctrl.story.content.characters" 
												selectable-characters="$ctrl.config.characters.all"
												minimum-characters="$ctrl.config.characters.minimum"></story-character-selection-editor>
		</md-card-content>		
	</md-card>
				
	<story-tree-scene-editor scene="$ctrl.story.content.scene"></story-tree-scene-editor>				
	
	<md-button class="md-raised" 
				ng-click="$ctrl.save()"
				ng-disabled="storyTreeForm.$valid !== true">
		Save Story
	</md-button>

	<div ng-show="storyTreeForm.$valid !== true">
		{{$ctrl.config.invalidMessage}}
	</div>	
</div>