<div ng-form="storyTreeForm" novalidate>
	<story-metadata-editor metadata="$ctrl.story.metadata"/>

	Story Characters:
	<story-character-selection-editor selected-characters="$ctrl.story.content.characters" 
										selectable-characters="$ctrl.config.characters.all"
										minimum-characters="$ctrl.config.characters.minimum"/>

	<ul>		
		<li>
			<validated-text-input 
				label="'Scene'"
				type="'field'" 
				ng-model="$ctrl.story.content.scene.name"
				minlength="1"
				maxlength="10"
				required="true"/>
			<ul>
				<scene-tree-elements-editor elements="$ctrl.story.content.scene.elements"/>
			</ul>				
		</li>
	</ul>
	<md-button class="md-raised" ng-click="$ctrl.apply(storyTreeForm.$valid)">Save Story</md-button>

	
</div>