<div ng-form="storyTreeForm" novalidate>
	<story-metadata-editor metadata="$ctrl.story.metadata"/>

	Story Characters:
	<story-character-selection-editor selected-characters="$ctrl.story.content.characters" 
										selectable-characters="$ctrl.config.characters.all"
										minimum-characters="$ctrl.config.characters.minimum"/>

	<!-- <ul>		
		<li>
			Scene: 
			<input type="text" ng-model="$ctrl.story.scene.name"
				ng-minlength="1"
				ng-required="true">
			<ul>
				<scene-tree-elements-editor elements="$ctrl.story.scene.elements"/>			
			</ul>				
		</li>
	</ul>
	<input type="submit" ng-click="$ctrl.apply(storyTreeForm.$valid)" value="Save"> -->

	
</div>