ul
{
    list-style-type: none;
    -webkit-padding-start:10px;
}

html
{
    background-color: rgb(74, 74, 74);
}
body
{
    background-color: rgb(74, 74, 74);
}
#window
{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(255, 255, 255);
    border: 5px;
    border-style:solid;
    border-color:rgb(63, 81, 181);
}
#content
{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 5px
}
#centered
{
    text-align: center;
    vertical-align: middle;
    width: auto;
}
md-toolbar
{
    vertical-align: middle;
    background-color: rgb(63, 81, 181);
    padding-left:15px;
    padding-right: 15px;    
}
md-card{
    border: 1px;
    border-style:solid;
    border-color:rgb(63, 81, 181);
}
md-input-container{
    margin: 12px;
}
footer
{
    text-align: right;
    vertical-align: middle;
    background-color: rgb(63, 81, 181);
    padding-left:15px;
    padding-right: 15px;    
}