Characters:
<ul>
	<li ng-repeat="character in $ctrl.characters">			
		<span>
			<button ng-click="$ctrl.removeCharacter(character)">Remove {{character.name}}</button>
			<ul>
				<li>
					Name: 
					<validated-text-input ng-model="character.name" ng-minlength="3" ng-required="true"/>
				</li>
				<li>
					<character-states-editor states="character.states"></character-states-editor>
				</li>
			</ul>
		</span>
	</li>
	<li>
		<button ng-click="$ctrl.addCharacter()">Add Character</button>
	</li>
</ul>