<li>Scene:
	<ul>
		<li>Choices:
			<ul>				
				<li ng-repeat="choice in $ctrl.scene.choices">
					<span>
						<button ng-click="$ctrl.removeChoice(choice)">Remove</button>						
						<ul>
							<li>
								Action: 
								<input type="text" ng-model="choice.action" 
									required
									minlength="3"/>
							</li>
							<li>
								Feedback: 
								<input type="text" ng-model="choice.feedback"
									required
									minlength="10"/>
							</li>
							<li>
								<story-characters-editor characters="choice.characters"></story-characters-editor>
							</li>
							<story-scene-editor ng-if="choice.scene != null" scene="choice.scene"></story-scene-editor>			
						</ul>
					</span>					
				</li>
				<li>
					<button ng-click="$ctrl.addChoice()">Add Choice</button>
				</li>
			</ul>
		</li>
	</ul>
</li>