 Metadata
 <ul>
	<li>
		Title: 
		<validated-text-input ng-model="$ctrl.metadata.title" ng-minlength="5" ng-required="true"/>
	</li>
	<li>
		Outline: 
		<validated-text-input ng-model="$ctrl.metadata.outline" ng-minlength="20" ng-required="true"/>
	</li>
	<li>
		Author:
		<validated-text-input ng-model="$ctrl.metadata.author" ng-minlength="3" ng-required="true"/>
	</li>
	<li>
		Category: 
		<validated-text-input ng-model="$ctrl.metadata.category" ng-minlength="10" ng-required="true"/>
	</li>
	<li>
		Skill: 
		<validated-text-input ng-model="$ctrl.metadata.skill" ng-minlength="5" ng-required="true"/>
	</li>
	<li>
		Location: 
		<validated-text-input ng-model="$ctrl.metadata.location" ng-minlength="5" ng-required="true"/>
	</li>
</ul>