<div>
	<validated-text-input type="'field'"
				label="'Title'"
				ng-model="$ctrl.metadata.title"
				placeholder="'story title goes here'"
				minlength="5"
	       		maxlength="50"
	       		required/>
</div>

<span>		
	<validated-select label="'Category'" 
		ng-model="$ctrl.metadata.category" 
		options="$ctrl.metadataOptions.category"
		required="true"/>

	<validated-select label="'Skill'" 
		ng-model="$ctrl.metadata.skill" 
		options="$ctrl.metadataOptions.skill"
		required="true"/>

	<validated-select label="'Location'" 
		ng-model="$ctrl.metadata.location" 
		options="$ctrl.metadataOptions.location"
		required="true"/>
</span>	

<story-metadata-outline metadata="$ctrl.metadata"/>

<div>
	<validated-text-input type="'field'"
		label="'Author'"
		ng-model="$ctrl.metadata.author"
		placeholder="$ctrl.metadataHelp.author"
		minlength="3"
		maxlength="50"
		required/>
</div>