 <div ng-form="metadataForm">
 	<story-metadata-title-editor title="$ctrl.metadata.title"/>

 	<span>		
		Category: 
		<select ng-model="$ctrl.metadata.category" 
			ng-options="category for category in $ctrl.metadataOptions.category"
			ng-required="true"/>

		Skill: 
		<select ng-model="$ctrl.metadata.skill" 
			ng-options="skill for skill in $ctrl.metadataOptions.skill"
			ng-required="true"/>

		Location: 
		<select ng-model="$ctrl.metadata.location" 
			ng-options="location for location in $ctrl.metadataOptions.location"
			ng-required="true"/>
	</span>	

	<story-metadata-outline metadata="$ctrl.metadata"/>

	<div>
		Author:
		<input ng-model="$ctrl.metadata.author"
			placeholder="{{$ctrl.metadataHelp.author}}" 
			ng-minlength="3"
			ng-required="true"/>
	</div>	
</div>