<li>Scene:
	<ul>
		<li>Choices:
			<ul ng-repeat="choice in scene.choices">
				<li>Action: {{choice.action}}</li>
				<li>Feedback: {{choice.feedback}}</li>
				<li>Characters Effects:
					<ul ng-repeat="characterEffects in choice.charactersEffects">
						<li>Name: {{characterEffects.name}}</li>
						<li>Effects:
							<ul ng-repeat="effect in characterEffects.effects"
								ng-switch="effect.$type">
								<li ng-switch-when="Emotion">Emotion: {{effect.emotion}}</li>
							</ul>
						</li>
					</ul>
				</li>
				<scene-node ng-if="choice.scene != null" scene="choice.scene"></scene-node>
			</ul>
		</li>
	</ul>				
</li>