<div ng-form="$ctrl.form">
	
	<!-- scene info -->
	<md-card ng-if="$ctrl.choice == null">
		
		<md-card-content>
			<div>
				<validated-text-input type="'field'" 
										label="$ctrl.label"
										placeholder="'Title'"
										ng-model="$ctrl.scene.name"
										minlength="1"
										maxlength="100"
										required="true"/>	

				<validated-text-input type="'area'" 
										label="'Description'"
										placeholder="'Description'"
										ng-model="$ctrl.scene.description"
										minlength="1"
										maxlength="200"
										required="true"/>	
			</div>
		
			<!-- todo make this display the same as the rest of the error messages -->
			<div ng-show="!$ctrl.form.$valid">One or more of the elements in this incident are incomplete.</div>

		</md-card-content>
	
	</md-card>	


	<!-- Choice Info -->
	<md-card ng-if="$ctrl.choice != null">
		
		<md-card-content>

			<div layout="row">
				<md-button 	class="md-raised" aria-label="remove choice"
							ng-click="$ctrl.onClicked($ctrl.choice)">Remove</md-button>
				
			</div>
			<div>
				<label>{{$ctrl.scene.name}}</label>
			</div>
			<div>	
				<validated-select label="'Rating'"
					ng-model="$ctrl.scene.feedbackRating"
					options="$ctrl.feedbackOptions"
					required="true"/>
			</div>
			<div>
				<validated-text-input type="'area'" 
										label="'Feedback'"
										placeholder="'Feedback Description'"
										ng-model="$ctrl.scene.feedback"
										minlength="1"
										maxlength="200"
										required="true"/>	
			</div>
		
			<!-- todo make this display the same as the rest of the error messages -->
			<label ng-show="!$ctrl.form.$valid">One or more of the elements in this incident are incomplete.</label>

		</md-card-content>
	
	</md-card>

	<!-- choice action -->
	<md-card ng-if="$ctrl.choice != null">

		<md-card-content>		

			<story-subscene-editor subscene="$ctrl.choice.action"></story-subscene-editor>
		
		</md-card-content>

	</md-card>

	<ul>
		<!-- scene/choice elements -->
		<li ng-repeat="element in $ctrl.scene.elements">
			
			<md-card ng-if="element._type != 'Choice'">

	    		<md-card-content layout="row">

					<md-button ng-click="$ctrl.removeElement(element)"
								class="md-raised">Remove</md-button>

					<story-subscene-editor flex ng-if="element._type == 'Subscene'" subscene="element"></story-subscene-editor>		

					<scene-element-end ng-if="element._type == 'End'"></scene-element-end>

				</md-card-content>

			</md-card>

			<story-tree-scene-editor ng-if="element._type == 'Choice'" 
										scene="element"
										on-clicked="$ctrl.removeElement">
			</story-tree-scene-editor>
		</li>		

		<!-- add scene element buttons -->
		<li ng-show="$ctrl.doesntContain(['End'])">

			<md-card ng-if="element._type != 'Choice'">

				<md-card-content layout="row">

<!-- 					<md-button ng-show="$ctrl.doesntContain(['Choice'])" 
								ng-click="$ctrl.addNarrator()"
								class="md-raised">+ Narrator</md-button>	 -->

<!-- 					<md-menu ng-show="$ctrl.doesntContain(['Choice'])">

						<md-button ng-click="$ctrl.openAddCharacterMenu($mdMenu, $event)"
									class="md-raised">+ Character</md-button>	
					
						<md-menu-content>
					
							<md-menu-item ng-repeat="character in $ctrl.characters">
					
								<md-button ng-click="$ctrl.addCharacter(character)">{{character.name}}</md-button>
					
							</md-menu-item>
					
						</md-menu-content>
					
					</md-menu> -->
					
					<md-button ng-click="$ctrl.addChoice('Ignore')"
								class="md-raised">Ignore</md-button>	
					<md-button ng-click="$ctrl.addChoice('Citizen')"
								class="md-raised">Ask Citizen</md-button>	
					<md-button ng-click="$ctrl.addChoice('Officer')"
								class="md-raised">Send Officer</md-button>	
					
					<md-button ng-click="$ctrl.addEnd()"
								class="md-raised">End</md-button>
				
				</md-card-content>	

				<!-- todo make this display the same as the rest of the error messages -->
				<div ng-show="!$ctrl.isThisSceneLevelComplete">This scenario is incomplete. Make sure all paths lead to an End.</div>
			</md-card>

		</li>

	</ul>

</div>