<div Id="window">
	<custom-header title="$ctrl.title"></custom-header>

	<div Id="content">
		<div id="centered">
			<md-label>Resource Force is an officer management game where players take on the role of a dispatch officer and must decide how to handle incoming incidents. Players have to decide wisely to avoid incidents escalating and make good choices to maintain resources and keep the citizens happy.</md-label>
		</div>
		<div id="centered" ng-if="!$ctrl.isLoggedIn">
			<br/>

			<span>
				<input placeholder="Username" ng-model="$ctrl.user.Metadata.username" ng-enter="$ctrl.Login($ctrl.user)"></input>
			</span>
			<br/>
			<span>
				<input placeholder="Password" type="password" ng-model="$ctrl.user.Metadata.password" ng-enter="$ctrl.Login($ctrl.user)"></input>
			</span>
			<br/>
			<span>
				<md-button class="md-raised" ng-click="$ctrl.Create($ctrl.user)">Create Account</md-button>
				<md-button class="md-raised" ng-click="$ctrl.Login($ctrl.user)">Log In</md-button>
			</span>
			<br/><br/>
			<md-button ng-click="$ctrl.GuestLogin()">Continue as Guest</md-button>
			<br/><br/>
			<md-label>{{$ctrl.error}}</md-label>
		</div>

		<div ng-if="$ctrl.isLoggedIn">
			<br />
			<div id="centered">
				<md-button class="md-raised" ui-sref="create-story">Create New Scenario</md-button>
				<md-button class="md-raised" ui-sref="review-story" ng-if="$ctrl.memberType == 'validator' || $ctrl.memberType == 'admin'">Review Submitted Content ({{$ctrl.loader.validationStoriesMetadata.length}})</md-button>
				<md-button class="md-raised" ui-sref="approved-story" ng-if="$ctrl.memberType == 'validator' || $ctrl.memberType == 'admin'">Review Approved Content</md-button>
			</div>

			<h3>My Scenarios</h3>
			<div ng-switch="$ctrl.loader.isLoading">
				<div ng-switch-when="true">
					Waiting for load
				</div>

				<ul ng-switch-when="false">
					<story-metadata-browser stories-metadata="$ctrl.loader.storiesMetadata" creator-id="$ctrl.creatorId" member-type="$ctrl.memberType" reviewing="false"/>
				</ul>
			</div>
		</div>
	</div>
	<custom-footer is-logged-in="$ctrl.isLoggedIn" username="$ctrl.username"></custom-footer>
</div>