<ul>

	<li ng-repeat="metadata in $ctrl.storiesMetadata | filter: (!$ctrl.viewDeleted || '') && {deleted:false}">
        <md-card>
            <md-card-content>
                <h3 ng-if="metadata.deleted" style="color: red">DELETED</h3>
        		<story-metadata metadata="metadata"></story-metadata>

                <div>
                    <label>Location: {{metadata.location}}</label>
                    <br/>
                    <label>Language: {{metadata.language}}</label>
                </div>

                <div>
                    <label><b>Status</b></label>
                    <label ng-if="metadata.submitted"><br/>Awaiting Validation</label>
                    <label ng-if="!metadata.submitted && !metadata.isValid"><br/>Ready For Submission</label>
                    <label ng-if="metadata.isValid && !metadata.submitted"><br/>Approved</label>
                    <label ng-if="!metadata.isValid && !metadata.submitted"><br/>Not Approved</label>
                </div>

        		<md-button class="md-fab md-mini" 
                            aria-label="Play"
                            title="Play"
        					ui-sref="play-story({ storyId: metadata.id })">
                    <md-icon>play_arrow</md-icon>
                </md-button>
        
                <md-button class="md-fab md-mini mdi mdi-bell" 
                            aria-label="View"
                            title="View"
                			ui-sref="view-story({ storyId: metadata.id })">
                    <md-icon>visibility</md-icon>
                </md-button>

                <md-button class="md-fab md-mini" 
                            aria-label="Edit"
                            title="Edit"
                			ui-sref="edit-story({ storyId: metadata.id })">
                    <md-icon>mode_edit</md-icon>
                </md-button>

                <md-button class="md-fab md-mini" 
                            aria-label="Duplicate"
                            title="Duplicate"
                            ng-click="$ctrl.duplicate(metadata.id)"
                            ng-if="(metadata.creatorId == $ctrl.creatorId || $ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && !metadata.submitted && !$ctrl.reviewing">
                    <md-icon>content_copy</md-icon>
                </md-button>

                <md-button class="md-fab md-mini"
                            aria-label="Submit"
                            title="Submit"
                            ng-click="$ctrl.submit(metadata)"
                            ng-if="($ctrl.memberType == 'admin' || metadata.creatorId == $ctrl.creatorId) && !metadata.submitted && !$ctrl.reviewing && !metadata.isValid">    
                    <md-icon>file_upload</md-icon>
                </md-button>
                
                <md-button class="md-fab md-mini"
                            aria-label="Delete"
                            title="Delete"
                            ng-click="$ctrl.delete(metadata)"
                            ng-if="(metadata.creatorId == $ctrl.creatorId || $ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && !$ctrl.reviewing && !metadata.deleted">
                    <md-icon>delete_forever</md-icon>
                </md-button>
                <md-button class="md-fab md-mini"
                    aria-label="Restore"
                    title="Restore"
                    ng-click="$ctrl.restore(metadata)"
                    ng-if="!$ctrl.reviewing && metadata.deleted">
                    <md-icon>restore</md-icon>
                </md-button>
                
                </div>
                
                <div>
                    <label ng-if="metadata.comment != '' && !metadata.submitted"><br/>Comment: {{metadata.comment}}</label>                                            
                </div>
                <h3 ng-if="metadata.deleted" style="color: red">DELETED</h3>
                
                <div ng-if="$ctrl.reviewing">
                    <br/>
                    <span>
                    <validated-text-input
                        label="'Comment To Creator'"
                        type="'field'" 
                        placeholder="'Comment'"
                        ng-model="$ctrl.comment"
                        minlength="1"
                        required="true"
                        maxlength="200"
                        ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted"/>
                        
                        <md-button class="md-fab md-mini"
                                    aria-label="Approve"
                                    title="Approve"
                                    ng-click="$ctrl.validate(metadata, true)"
                                    ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted">
                            <md-icon>thumb_up</md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini"
                                    aria-label="Reject"
                                    title="Reject"
                                    ng-click="$ctrl.validate(metadata, false)"
                                    ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted">
                            <md-icon>thumb_down</md-icon>
                        </md-button>    
                    </span>
                </div>

            </md-card-content>

        </md-card>

	</li>
    
</ul>