<ul>

	<li ng-repeat="metadata in $ctrl.storiesMetadata">

        <md-card ng-if="!metadata.deleted">

            <md-card-content>

        		<story-metadata metadata="metadata"></story-metadata>

        		<md-button class="md-fab md-mini" 
        					aria-label="Play"
        					ui-sref="play-story({ storyId: metadata.id })">

                    <md-icon>play_arrow</md-icon>

                </md-button>
        
                <md-button class="md-fab md-mini mdi mdi-bell" 
                			aria-label="View"
                			ui-sref="view-story({ storyId: metadata.id })">

                    <md-icon>visibility</md-icon>

                </md-button>

                <md-button class="md-fab md-mini" 
                			aria-label="Edit"
                			ui-sref="edit-story({ storyId: metadata.id })">

                    <md-icon>mode_edit</md-icon>

                </md-button>
                <div >
                    <md-button class="md-raised" 
                        ng-click="$ctrl.submit(metadata)"
                        ng-if="metadata.creatorId == $ctrl.creatorId && !metadata.submitted">
                        Submit For Validation
                    </md-button>
                    <md-button class="md-raised"
                        ng-click="$ctrl.validate(metadata, true)"
                        ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted">
                        Set Valid
                    </md-button>
                    <md-button class="md-raised"
                        ng-click="$ctrl.validate(metadata, false)"
                        ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted">
                        Set Invalid
                    </md-button>
                    <md-button class="md-raised" 
                        ng-click="$ctrl.delete(metadata)"
                        ng-if="metadata.creatorId == $ctrl.creatorId">
                        Delete
                    </md-button>
                    
                 </div>   

            </md-card-content>

        </md-card>

	</li>
    
</ul>