<ul>

	<li ng-repeat="metadata in $ctrl.storiesMetadata | filter:{deleted:false}">

        <md-card ng-if="!metadata.deleted">
            <md-card-content>

        		<story-metadata metadata="metadata"></story-metadata>

                <div>
                    <label>Location: {{metadata.location}}</label>
                    <br/>
                    <label>Language: {{metadata.language}}</label>
                </div>

                <div>
                    <label><b>Status</b></label>
                    <label ng-if="metadata.submitted"><br/>Awaiting Validation</label>
                    <label ng-if="!metadata.submitted"><br/>Ready For Submission</label>
                    <label ng-if="metadata.isValid && !metadata.submitted"><br/>Approved</label>
                    <label ng-if="!metadata.isValid && !metadata.submitted" ><br/>Not Approved</label>
                </div>

        		<md-button class="md-fab md-mini" 
        					aria-label="Play"
        					ui-sref="play-story({ storyId: metadata.id })">
                    <md-icon>play_arrow</md-icon>
                </md-button>
        
                <md-button class="md-fab md-mini mdi mdi-bell" 
                			aria-label="View"
                			ui-sref="view-story({ storyId: metadata.id })">
                    <md-icon>visibility</md-icon>
                </md-button>

                <md-button class="md-fab md-mini" 
                			aria-label="Edit"
                			ui-sref="edit-story({ storyId: metadata.id })">
                    <md-icon>mode_edit</md-icon>
                </md-button>

                <md-button class="md-fab md-mini"
                            aria-label="Submit"
                            ng-click="$ctrl.submit(metadata)"
                            ng-if="($ctrl.memberType == 'admin' || metadata.creatorId == $ctrl.creatorId) && !metadata.submitted && !$ctrl.reviewing">    
                    <md-icon>file_upload</md-icon>
                </md-button>
                
                <md-button class="md-fab md-mini"
                            aria-label="Delete"
                            ng-click="$ctrl.delete(metadata)"
                            ng-if="metadata.creatorId == $ctrl.creatorId && !$ctrl.reviewing">
                    <md-icon>delete_forever</md-icon>
                </md-button>

                <div>
                    <label ng-if="metadata.comment != '' && !metadata.submitted"><br/>Comment: {{metadata.comment}}</label>                                            
                </div>

                <div ng-if="$ctrl.reviewing">
                    <br/>
                    <span>
                    <validated-text-input
                        label="'Comment To Creator'"
                        type="'field'" 
                        placeholder="'Comment'"
                        ng-model="$ctrl.comment"
                        minlength="1"
                        required="true"
                        maxlength="200"
                        ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted"/>
                        
                        <md-button class="md-fab md-mini"
                                    aria-label="Approve"
                                    ng-click="$ctrl.validate(metadata, true)"
                                    ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted">
                            <md-icon>thumb_up</md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini"
                                    aria-label="Reject"
                                    ng-click="$ctrl.validate(metadata, false)"
                                    ng-if="($ctrl.memberType == 'admin' || $ctrl.memberType == 'validator') && metadata.submitted">
                            <md-icon>thumb_down</md-icon>
                        </md-button>    
                    </span>
                </div>

            </md-card-content>

        </md-card>

	</li>
    
</ul>