<div Id="window">
    <custom-header title="$ctrl.title"></custom-header>
        
    <div Id="content">
        <md-button class="md-raised" ng-click="$ctrl.refresh()">Refresh</md-button>
        <div ng-if="$ctrl.isLoggedIn">
            <div ng-switch="$ctrl.loader.isLoading">
                <div ng-switch-when="true">
                    Waiting for load
                </div>
                <label ng-if="$ctrl.loader.validationStoriesMetadata == null || $ctrl.loader.validationStoriesMetadata.length == 0">No scenarios found waiting for validation</label>
                <ul ng-switch-when="false">
                    <story-metadata-browser stories-metadata="$ctrl.loader.validationStoriesMetadata" creator-id="$ctrl.creatorId" member-type="$ctrl.memberType" reviewing="true"/>
                </ul>
            </div>
        </div>
    </div>
   
    <custom-footer is-logged-in="$ctrl.isLoggedIn" show-guide="true" show-home="true" username="$ctrl.username"></custom-footer>
</div>