<div class="flex-row-container">
<validated-text-input type="'field'"
			label="'Scenario Title'"
			ng-model="$ctrl.metadata.title"
			placeholder="$ctrl.metadataHelp.title"
			minlength="$ctrl.titleMin"
			maxlength="$ctrl.titleMax"
			required="true"/>
<validated-select label="'Region'"
			ng-model="$ctrl.metadata.region"
			ng-change="$ctrl.changeRegion()"
			options="$ctrl.regions"
			required="true"/>
<validated-select label="'Language'"
			ng-if="$ctrl.metadata.region != ''"
			ng-model="$ctrl.metadata.language"
			options="$ctrl.languages"
			required="true"/>
</div>