<div Id="window">
    <custom-header title="$ctrl.title"></custom-header>        
    <md-button class="md-raised" ng-if="$ctrl.isLoggedIn && ($ctrl.isValidator || $ctrl.isAdmin)" ng-click="$ctrl.refresh()">Refresh</md-button>     

    <div Id="content">     

        <div ng-if="$ctrl.isLoggedIn">
            <h2>Account</h2>
            <label>Username: <b>{{$ctrl.username}}</b></label>
            <br/>
            <label>Account Type: <b>{{$ctrl.memberType}}</b></label>
            <div ng-if="$ctrl.isMember || $ctrl.isValidator">
                <!-- Form to become a validator -->
                <h2>Become a validator</h2>
                <h3>To become a validator, select a language and location below and select submit. Your application will then be reviewed</h3>
                <div>
                    <validated-select label="'Location'"
                        ng-model="$ctrl.request.metadata.locations"
                        options="$ctrl.locations"
                        required="true"/>
                </div>
                <div>
                    <validated-select label="'Language'"
                        ng-model="$ctrl.request.metadata.languages"
                        options="$ctrl.languages"
                        required="true"/>
                </div>
                <div>
                    <validated-text-input type="'area'" 
                        label="'Why do you want to be a validator?'"
                        placeholder="'Reason'"
                        ng-model="$ctrl.request.metadata.reason"
                        minlength="$ctrl.reasonMin"
                        maxlength="$ctrl.reasonMax"
                        required="true"/>	
                </div>
                <div>
                    <md-button class="md-raised" ng-click="$ctrl.submit($ctrl.request)">Submit</md-button>
                </div>
            </div>

            <div ng-if="$ctrl.isAdmin || $ctrl.isValidator">
                            
                <h2>Manage Validator Requests</h2>    
                <label ng-if="$ctrl.requests.length == 0">No Validator Requests Found</label>
                <div ng-repeat="request in $ctrl.requests">
                    <md-card style="padding:5px">
                        <div>
                                <label>Location: {{request.metadata.locations}}</label>
                        </div>
                        <div>
                                <label>Language: {{request.metadata.languages}}</label>
                        </div>
                        <div>
                                <label>Reason: {{request.metadata.reason}}</label>
                        </div>
                        <div>
                            <span>
                                <md-button class="md-fab md-mini"
                                            aria-label="Approve"
                                            title="Approve"
                                            ng-click="$ctrl.approve(request)">
                                    <md-icon>thumb_up</md-icon>
                                </md-button>
                                <md-button class="md-fab md-mini"
                                            aria-label="Reject"
                                            title="Reject"
                                            ng-click="$ctrl.reject(request)">
                                    <md-icon>thumb_down</md-icon>
                                </md-button>    
                            </span>
                        </div>
                    </md-card>
                </div>
            </div>
            
            <label>{{$ctrl.response}}</label>
        </div>

    </div>
    <custom-footer is-logged-in="$ctrl.isLoggedIn" show-guide="true" show-home="true" username="$ctrl.username"></custom-footer>
</div>