<md-card>
	<md-card-content layout="row">
	
		<md-button class="md-raised" aria-label="remove choice"
				ng-click="$ctrl.onClicked($ctrl.choice)">
			-
		</md-button>
		
		<validated-text-input type="'field'" 
								label="'Choice'"
								ng-model="$ctrl.choice.scene.name"
								minlength="1"
								maxlength="10"
								required="true"></validated-text-input>

		<div>
			<story-subscene-editor subscene="$ctrl.choice.action"/>
		</div>
	</story-subscene-editor>
	
</md-card>

<ul>
	<scene-tree-elements-editor elements="$ctrl.choice.scene.elements"/>
</ul>				