<div ng-form="storyTreeForm">

	<md-card>
		<md-card-content>
			<h3>Summary</h3>
			<story-metadata-editor metadata="$ctrl.story.metadata"></story-metadata-editor>
		
		</md-card-content>

	</md-card>

	<story-tree-scene-editor scene="$ctrl.story.content.scene"></story-tree-scene-editor>				
	<span>
		
		<md-button class="md-raised" 
					ng-click="$ctrl.save(storyTreeForm.$valid == true && $ctrl.story.content.scene.choices.length > 1)"
					ng-if="$ctrl.memberType != 'guest'"> 
			Save Scenario
		</md-button>
		<md-button class="md-raised" 
				ng-click="$ctrl.submit()"
					ng-if="$ctrl.memberType == 'guest'"
					ng-disabled="storyTreeForm.$valid !== true || $ctrl.story.content.scene.choices.length <= 1"> <!-- already contains end choice, not shown in web page -->
			Submit Scenario
		</md-button>
	</span>
	<div>
		<br/><label>{{$ctrl.saveStatus}}</label>
	</div>
	<div ng-show="storyTreeForm.$valid !== true">
		<br/>{{$ctrl.config.invalidMessage}}
	</div>	

</div>