<li ng-repeat="element in $ctrl.elements">
	
		<md-card ng-if="element._type != 'Choice'">
    		<md-card-content layout="row">
				<md-button ng-click="$ctrl.removeElement(element)"
							class="md-raised">
					-
				</md-button>

				<story-subscene-editor ng-if="element._type == 'Subscene'" subscene="element"></story-subscene-editor>		
				<scene-element-end ng-if="element._type == 'End'"></scene-element-end>
			</md-card-content>
		</md-card>

		<story-tree-choice-editor ng-if="element._type == 'Choice'" choice="element"
									on-clicked="$ctrl.removeElement"></story-tree-choice-editor>
</li>

<li ng-show="$ctrl.doesntContain(['End'])">
	<md-card ng-if="element._type != 'Choice'">
		<md-card-content layout="row">
			<md-button class="md-raised" ng-show="$ctrl.doesntContain(['Choice'])">+ Narrator</md-button>	
			<md-button class="md-raised" ng-show="$ctrl.doesntContain(['Choice'])">+ Character</md-button>		
			<md-button class="md-raised">+ Choice</md-button>	
			<md-button class="md-raised" ng-show="$ctrl.doesntContain(['Choice'])">End</md-button>
		</md-card-content>	
	</md-card>
</li>