<div Id="window">
	
	<md-toolbar>
		<h2>Resource Force Authoring Tool</h2>
	</md-toolbar>

	<div Id="content">

		<md-button class="md-raised" ui-sref="home">Home</md-button>
		<div ng-switch="$ctrl.loader.isLoading">
			<div ng-switch-when="true">
				Waiting for load
			</div>
			<story-tree-view ng-switch-when="false" story="$ctrl.loader.story"></story-tree-view>
		</div>

	</div>
	<footer ng-if="$ctrl.isLoggedIn">
			<span>
				<label style="color:white">Logged in as: {{$ctrl.username}}</label>
				<md-button class="md-raised" ui-sref="manage-member()" ng-if="$ctrl.memberType != 'Guest'">Manage Account</md-button>
				<md-button class="md-raised" ng-click="$ctrl.Logout()">Log Out</md-button>
			</span>
		</footer>
</div>