<li>Scene:
	<ul>
		<li>Choices:
			<ul ng-repeat="choice in $ctrl.scene.choices">
				<li>Action: {{choice.action}}</li>
				<li>Feedback: {{choice.feedback}}</li>
				<li>Characters Effects:
					<ul ng-repeat="characterEffects in choice.charactersEffects">
						<li>Name: {{characterEffects.name}}</li>
						<li>States:
							<ul ng-repeat="state in characterEffects.states">
								<li>{{state.$type}}: {{state.value}}</li>
							</ul>
						</li>
					</ul>
				</li>
				<scene-node ng-if="choice.scene != null" scene="choice.scene"></scene-node>
			</ul>
		</li>
	</ul>				
</li>