<md-card>
	
	<md-card-content>
	
		<story-metadata metadata="$ctrl.story.metadata"></story-metadata>
	
	</md-card-content>

</md-card>
<!-- 
<md-card>

	<md-card-title>Characters</md-card-title>

	<md-card-content layout="row">
	
		<story-character ng-repeat="character in $ctrl.story.content.characters" character="character"></story-character>
	
	</md-card-content>

</md-card>
 -->
<md-card>

	<md-card-title>{{$ctrl.story.content.scene.title}}</md-card-title>

	<md-card-content>
	
	Description
	<br/> 
	{{$ctrl.story.content.scene.description}}
	<br/><br/>
	Severity: {{$ctrl.story.content.scene.severity}}
	<br/>
	Officers Required: {{$ctrl.story.content.scene.officerReq}}
	<br/>
	Turns Required: {{$ctrl.story.content.scene.turnReq}}
	<br/>
	Satisfaction Impact: {{$ctrl.story.content.scene.satisfactionImpact}}
	
	</md-card-content>
	

</md-card>

<ul>
	<tree-view-scene-elements elements=$ctrl.story.content.scene.choices>
</ul>
