<div Id="window">
<custom-header title="$ctrl.title"></custom-header>
    <div Id="content">
    </div>
    <div>
        <md-label>To see content currently in the game, select a language and locations below and select "Load"</md-label>
        <br/>
        <validated-select label="'Location'"
                ng-model="$ctrl.selected.location"
                options="$ctrl.locations"
                required="true"
                style="width:50%"/>
        <validated-select label="'Language'"
                ng-model="$ctrl.selected.language"
                options="$ctrl.languages"
                required="true"
                style="width:50%"/>
        <md-button class="md-raised" ng-click="$ctrl.load($ctrl.selected)">Load</md-button>
    </div>
    <div>
        <div ng-if="$ctrl.loader.storiesMetadata.length > 0">
            <md-label>
                Currently Active: {{$ctrl.inGameStories.length}}
                <br/>
                Minimum Required: {{$ctrl.minimumActiveScenarios}}
            </md-label>
            <br/>
            <active-state-split>                                        
                    
                <active-title>In Game</active-title>
                <active-content>
                        <story-metadata-browser stories-metadata="$ctrl.inGameStories" creator-id="$ctrl.creatorId" member-type="$ctrl.memberType" reviewing="false" managing=true can-disable="$ctrl.canDisable()" on-change="$ctrl.refreshStories()"/>
                </active-content>

                <inactive-title>Inactive</inactive-title>
                <inactive-content>
                        <story-metadata-browser stories-metadata="$ctrl.inactiveStories" creator-id="$ctrl.creatorId" member-type="$ctrl.memberType" reviewing="false" managing=true can-disable="$ctrl.canDisable()" on-change="$ctrl.refreshStories()" />
                </inactive-content>

            </active-state-split>
            <br/>
        </div>
        <md-label ng-if="$ctrl.loader.storiesMetadata.length == 0">No content loaded</md-label>                    
    </div>
<custom-footer is-logged-in="$ctrl.isLoggedIn" show-guide="true" show-home="true" username="$ctrl.username"></custom-footer>
</div>