<!-- START -->
<div ng-if="$ctrl.storyPlayer.state == 'AWAITING_START'">
	<story-player-start 
		story="$ctrl.story"
		start="$ctrl.storyPlayer.start">				
		</story-player-start>
</div>
<!-- PLAYING -->
<div ng-if="$ctrl.storyPlayer.state == 'AWAITING_CHOICE' || $ctrl.storyPlayer.state == 'FEEDBACK'">

	<story-characters characters="$ctrl.storyPlayer.characters"></story-characters>

	<div ng-switch="$ctrl.storyPlayer.state">
		<div ng-switch-when="AWAITING_CHOICE">
			<story-player-choice></story-player-choice>
		</div>
		<div ng-switch-when="FEEDBACK">
			<story-player-feedback></story-player-feedback>
		</div>
	</div>
</div>
<!-- ENDED -->
<div ng-if="$ctrl.storyPlayer.state == 'ENDED'">
	<story-player-end></story-player-end>
</div>