<div class="state-container">

    <div ng-transclude="activeTitle"
        id="active-title"
        class="state-title">
    </div>

    <div ng-transclude="activeContent"
        id="active-content"
        class="state-content">
    </div>

</div>

<div class="state-container">

    <div ng-transclude="inactiveTitle"
        id="inactive-title"
        class="state-title">
    </div>

    <div ng-transclude="inactiveContent"
        id="inactive-content"
        class="state-content">
    </div>

</div>