Scene:
<ul>
	<li>Choices:
		<ul>
			<li ng-repeat="choice in $ctrl.scene.choices">
				<ul>
					<li>Action: {{choice.action}}</li>
					<li>Feedback: {{choice.feedback}}</li>
					<li>
						<story-characters characters="choice.characters"></story-characters>
					</li>
					<!-- IF -->
					<li class="storyBranchEnd" ng-if="choice.scene == null">
						End of story branch.
					</li>
					<!-- ELSE -->
					<li ng-if="choice.scene != null">
						<story-scene scene="choice.scene"></story-scene>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>